{% extends 'base/base.html'%}
{% load staticfiles %}
{% block title%}Nivel{% endblock%}
{% block extrahead %}
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block subtitle%}Elige tu nivel{% endblock%}
{% block content %}
<section id="one" class="wrapper style1" style="padding: 2px;">
  <ul class="breadcrumb">
  <li><a href="/">Inicio</a></li>
  <li class="activate">Nivel</li>
</ul> 
  {% if user.is_authenticated and user.is_staff %}
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar nivel</button>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
                <form action="." method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                   <input type="submit" value="Guardar"/>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  {%endif%}
<div class="inner">
    {% if grados%}
      {% for g in grados %}
        <p>{{g.descripcion}}</p>
        <article class="feature left">
          <span class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span>
          <div class="content">
            <h2>{{g.nombre}}</h2>
            <p>{{g.Descripcion}}</p>
            <ul class="actions">
              <li>
                <a href="/nivel/{{g.id}}" class="button alt">Empezar</a>
              </li>
            </ul>
          </div>
        </article>
      {% endfor%}
    {% else%}
      <h1>Lo sentimos no hay niveles disponibles</h1>
    {% endif%}
  </div>
</section>
{% endblock %}
